
.CAJA {
      width: 200px;
      height: 200px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
      padding-bottom: 20px;  
      border-style: solid;
      border-width: 15px; 
      border-color: rgb(0, 247, 255);
      margin-top: 75px;
      margin-left: 10px;

      background-color: darkred;

}


.botonA {
    margin-left: 10px;
    padding-left: 50px;
    padding-right: 57px;
}

.botonB {
      margin-left: 30px;
}